psycopg2==2.5.1

https://github.com/hamperbot/hamper/archive/master.zip
https://github.com/hamperbot/factoids2/archive/master.zip
https://github.com/dean/hamper-remindme/archive/master.zip
https://github.com/dean/hamper-pizza/archive/master.zip
